<div class="container">
  <div class="row">
    <div class="col">
      Nombre
    </div>
    <div class="col">
      Precio
    </div>
    <div class="col">
      Foto
    </div>
  </div>
  {{#each Data}}
  <div class="row">
    <div class="col">
      {{nombre}}
    </div>
    <div class="col">
      {{precio}}
    </div>
    <div class="col">
      {{url}}
    </div>
  </div>
  {{/each}}
</div>